.role-icon {
    filter: invert(24%) sepia(93%) saturate(5776%) hue-rotate(338deg) brightness(97%) contrast(109%);
}

.mat-mdc-tab-group {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.mat-mdc-tab-labels {
    display: flex;
    flex-direction: column !important;
}