<!-- <section class="max-w-[1440px] mx-auto h-screen text-white mx-5 mt-[66px] overflow-hidden">
    <div class="grid grid-cols-1 sm:grid-cols-2 h-full gap-5">
      
        <div class="flex flex-col justify-center gap-5 h-full overflow-hidden">
            <h2 class="text-9xl font-semibold italic">{{ agentDetails?.displayName }}</h2>
            <p>{{ agentDetails?.description }}</p>
            <div class="flex justify-center items-center flex-col text-sm bg-[#0F1923] max-w-[130px] max-h-[130px] border border-[#FF4654] py-4">
                <img class="object-cover max-w-[32px] mb-4" [src]="agentDetails?.role.displayIcon" alt="">
                <p class="text-center">ROLE <br> <span class="text-[#FF4654]">{{ agentDetails?.role.displayName.toUpperCase() }}</span></p>
            </div>
        </div>
  
      <div class="relative h-full w-full overflow-hidden">
        <img
          class="absolute left-0 right-0 bottom-[-300px] w-full h-full object-cover scale-250"
          [src]="agentDetails?.fullPortrait"
          alt=""
        />
      </div>
      
    </div>
  </section> -->

  <section>
    <div class="relative max-w-[1440px] mx-auto h-screen text-white mx-5 mt-[66px] overflow-hidden">
        <div class="flex flex-col justify-center gap-5 h-full overflow-hidden sm:w-[50vw]">
            <h2 class="text-9xl font-semibold italic">{{ agentDetails?.displayName }}</h2>
            <p class="text-xl">{{ agentDetails?.description }}</p>
            <div class="flex justify-center items-center flex-col text-sm bg-[#0F1923] max-w-[130px] max-h-[130px] border border-[#FF4654] py-4">
                <img class="object-cover max-w-[32px] mb-4" [src]="agentDetails?.role.displayIcon" alt="">
                <p class="text-center">ROLE <br> <span class="text-[#FF4654]">{{ agentDetails?.role.displayName.toUpperCase() }}</span></p>
            </div>
        </div>

        <img
        class="absolute top-0 left-70 w-[100vw] h-auto object-contain z-[-10]"
        [src]="agentDetails?.fullPortrait"
        alt=""
      />
    </div>
  </section>

  <section>
    <div class="text-white">
        <h2 class="text-8xl font-semibold">SPECIAL HABILITIES</h2>
        <mat-tab-group>
            <mat-tab *ngFor="let ability of agentDetails?.abilities; let i = index">
                <ng-template mat-tab-label>
                    <img [src]="agentDetails?.abilities[i].displayIcon" [alt]="agentDetails?.abilities[i].displayIcon" width="50" height="50">
                </ng-template>
                <p>{{ agentDetails?.abilities[i].description }}</p>
            </mat-tab>
        </mat-tab-group>
                     
    </div>
  </section>
  