@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@font-face {
    font-family: 'Tungsten';
    src: url('/assets/fonts/tungsten-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    background-color: #101C24;
}

h2 {
    font-family: 'Tungsten';
}
  