@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@font-face {
    font-family: 'Tungsten';
    src: url('/assets/fonts/tungsten-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    background-color: #101C24;
}

h2 {
    font-family: 'Tungsten';
}
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-tab-label-container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.mat-mdc-tab-body-wrapper p{
    padding-top: 50px;
    padding-bottom: 50px;
}